@import "tailwindcss";

.logo {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  color: currentColor;
}

/* Custom Slick Slider active dot animation */
.slick-dots li.slick-active div {
  width: 24px !important;
  background-color: #00927c !important;
}
